
body { 
	background-color: #666; 
}

.form { 
	background-color: rgba(255,255,255,0.8); 
	margin: 30px auto;
    width: 380px;
    padding: 20px 45px; 
    border: 1px solid #f4f4f4;
}
.form h3 { text-transform: uppercase;}
.form input.form-control { 
	margin-bottom: 15px; 
	height: 42px;
	font-size: 15px;
	
}

.form #login-form input.error2 { 
	border: 1px solid #a94442; 
}
.form .alert  { text-align: center;}
.form .boton { 
	margin: 0px auto;
    width: 200px;
    display: block;
}

.form-control::-webkit-input-placeholder { color:#999; font-style: italic;  }
.form-control::-moz-placeholder { color:#999; font-style: italic; } /* firefox 19+ */
.form-control:-ms-input-placeholder { color:#999; font-style: italic; } /* ie */
.form-control:-moz-placeholder { color:#999; font-style: italic; }
